.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 51, 21);
  color: white;
  padding: 10px;
  text-align: center;
  max-width: 60%;
}